<!DOCTYPE html>
<html>

<head>
    <title>Lord Stanley</title>
</head>

<body>
    <h1>Standings</h1>
    {{ standings_table | safe }}

    <h1>Next Game{% if is_live %} (LIVE){% endif %}</h1>
    {{ next_game_table | safe }}

    <h1>Team Stats by Owner</h1>
    <div style="display: flex; gap: 1rem;">
        {% for owner, table in team_stats.items() %}
        <div>
            <h2>{{ owner }}:</h2>
            {{ table | safe }}
        </div>
        {% endfor %}
    </div>

    {{ chart | safe }}
</body>

</html>